html {
    font-size: 16px; /* 16px = 1rem */
}

#page {
    width: 100vw;
    height: 300dvh;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
}

.shape {
    aspect-ratio: 1/1;
    color: #000;
    background-color: hsla(0, 0%, 20%, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square-1 {
    width: 100px;
    background-color: hsla(0, 100%, 50%, 1);
}

.square-2 {
    width: 150px;
    background-color: hsla(30, 100%, 50%, 1);
}
.square-3 {
    width: 200px;
    background-color: hsla(60, 100%, 50%, 1);
}

.circle-1 {
    width: 150px;
    border-radius: 50%; 
    background-color: hsla(90, 100%, 50%, 1);
}

.circle-2 {
    width: 200px;
    border-radius: 50%; 
    background-color: hsla(120, 100%, 50%, 1);
}
.circle-3 {
    width: 250px;
    border-radius: 50%; 
    background-color: hsla(150, 100%, 50%, 1);
}

.pos-r1 {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 5;
}

.pos-a1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.pos-a2 {
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 4;
}

.pos-a3 {
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 3;
}

.pos-a4 {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 2;
}

.pos-f1 {
    position: fixed;
    bottom: 0;
    right: 45%;
    z-index: 5;
}

/* file position-extra.html */

#page-extra {
    width: 100vw;
    height: 100dvh;
    background-color: #eee;
}
.rect-1 {
    width:200px;
    height:200px;
    background-color: red;
}

.rect-2 {
    width:300px;
    height:200px;
    background-color: green;
    position: relative;
    top: -20px;
    left: 20px;
}

.dot {
    width:40px;
    height:40px;
    background-color: black;
    position: absolute;
    top: -20px;
    right: -20px;
}

